ADF_pipelines/pl_bronze_to_silver.json
{
	"name": "pl_bronze_to_silver",
	"properties": {
		"activities": [
			{
				"name": "silver layer ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Ecommerce_databricks_notebooks/silver_transformation_ingestion_tables",
					"baseParameters": {
						"bronze_schema": {
							"value": "@pipeline().parameters.metadata_values.bronze_schema",
							"type": "Expression"
						},
						"bronze_table": {
							"value": "@pipeline().parameters.metadata_values.bronze_tbl",
							"type": "Expression"
						},
						"loadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"silver_schema": {
							"value": "@pipeline().parameters.metadata_values.silver_schema",
							"type": "Expression"
						},
						"silver_table": {
							"value": "@pipeline().parameters.metadata_values.silver_tbl",
							"type": "Expression"
						},
						"transformation_type": {
							"value": "@pipeline().parameters.metadata_values.silver_tbl",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute_job",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_fail_log_ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "silver layer ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Ecommerce_databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Failed to transform files and load it to silver container where source file is ', pipeline().parameters.metadata_values.bronze_tbl, ' to the silver container ',pipeline().parameters.metadata_values.silver_tbl)",
							"type": "Expression"
						},
						"status": {
							"value": "@concat('Error: ',activity('silver layer ingestion').Error.message)\n",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimestamp": {
							"value": "@formatDateTime(convertfromUtc(utcnow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute_job",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_success_log_ingestion",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "silver layer ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Ecommerce_databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Transformed and ingested ', pipeline().parameters.metadata_values.table_name,' from bronze to silver container where total number of rows are ',activity('silver layer ingestion').output.runOutput[0],'.')",
							"type": "Expression"
						},
						"status": {
							"value": "Success",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logTimestamp": {
							"value": "@formatDateTime(convertfromUtc(utcnow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute_job",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_pipeline_failed_ingestion_mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "silver layer ingestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.metadata_values.logic_app_url",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"to\":\"@{pipeline().parameters.metadata_values.email_id}\",\n    \"subject\":\"@{concat('[',pipeline().globalParameters.env,']',pipeline().Pipeline,':[Silver layer ingestion failed]')}\",\n    \"email_body\":\"\n\n<!DOCTYPE html>\n<html>\n<body>\n\n    Hi all,<br/>\n    Please find below the status for @{pipeline()?.TriggeredByPipelineName}<br/>\n\n    <table>\n        <tr>\n            <th style='text-align: left;'>Parameters</th>\n            <th style='text-align: left;'>Values</th>\n        </tr>\n        <tr>\n            <td>JobID</td>\n            <td>@{pipeline().parameters.job_id}</td>\n        </tr>\n        <tr>\n            <td>Status</td>\n            <td><span style='color: red;'>Failed</span></td>\n        </tr>\n        <tr>\n            <td>Scheduled</td>\n            <td>@{pipeline().TriggerType}</td>\n        </tr>\n        <tr>\n            <td>Silver Table</td>\n            <td>@{pipeline().parameters.metadata_values.silver_tbl}</td>\n        </tr>\n        <tr>\n            <td>LoadID</td>\n            <td>@{pipeline()?.TriggeredByPipelineRunId}</td>\n        </tr>\n        <tr>\n            <td>JobStart</td>\n            <td>@{pipeline().parameters.pipeline_start_time}</td>\n        </tr>\n        <tr>\n            <td>JobEnd</td>\n            <td>@{formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')}</td>\n        </tr>\n    </table><br/><br/><br/>\n\n\n\n\n</body>\n</html>\n\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metadata_values": {
				"type": "object"
			},
			"job_id": {
				"type": "string"
			},
			"pipeline_start_time": {
				"type": "string"
			}
		},
		"annotations": []
	}
}